.about_hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url('../assets/larklabs_1.jpg');
    height: 100svh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_hero img {
    width: 70vw;
    max-width: 600px;
}

.about_whatis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    max-width: 1200px;
    padding-top: 100px;
    margin: auto;
}

.about_whatis_col_left {
    width: 40%;
}

.about_whatis_col_right {
    width: 50%;
}

.about_whatis_col_right h2 {
    font-size: 26px;
}

.about_whatis_col_right p {
    padding-bottom: 40px;
}

.about_team {
    padding-top: 60px;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
}

.about_team_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about_team_left img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 40%;

}
.about_team_right img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 40%;
}

.about_team_div h3 {
    font-size: 26px;
    padding-bottom:30px;
}

.about_team_text {
    width: 55%;
}

.about_portfolio_div {
    padding: 60px 0;
    width: 100vw;
}

.about_gallery_img {
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about_portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.about_portfolio_overlay p {
    padding: 10px 20px;
    text-align: center;
}

.about_portfolio_overlay {
    cursor: pointer;
}

.splide__slide:hover .about_portfolio_overlay {
    opacity: 1;
}

.about_footer {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.about_footer_left {
    color: white;
    padding-left: 4vw;
}

.about_footer_right {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-right: 4vw;
    color: white;
}

.about_footer_right p {
    cursor: pointer !important;
}

@media only screen and (max-width: 650px) {
    .about_portfolio_overlay {
        display: none !important;
    }
    .about_whatis {
        flex-direction: column;
    }
    .about_whatis_col_left, .about_whatis_col_right {
        margin: auto;
        width: 90%;
        text-align: center;
    }
    .about_whatis_col_left {
        padding-bottom: 20px;
    }
    .about_team_div {
        flex-direction: column;
        text-align: center;
    }
    .about_team_left img {
        padding-bottom: 30px;
        width: 90%;
    }
    .about_team_div h3 {
        padding-bottom: 6px;
    }
    .about_team_right {
        padding-top: 40px;
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }
    .about_team_right img {
        padding-bottom: 30px;
        width: 90%;
    }
    .about_team_text {
        width: 90%;
    }
    .about_gallery_img, .about_portfolio_overlay, .about_gallery_splide {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .about_gallery_img {
        height: 200px;
        object-fit: cover;
    }
}