* {
  margin: 0;
  padding: 0;
  cursor: default;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  background: black;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}
